/* General section styling */
.about-section {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  padding: 30px 30px;
  background-color: #fcfcfc;
}

.about-content h2 {
  color: #0845ae;
}

/* Image styling */
.about-image {
  flex-shrink: 0; /* Prevent the image from shrinking */
  max-width: 300px; /* Set a max width for the image */
  height: auto;
  border-radius: 5px;
}

/* Responsive design */
@media (max-width: 1024px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .about-image {
    max-width: 100%;
  }
}
